p {
	color: orange;
	background-color: blue;
	font-size: large;
	font-style: Roboto Condensed;
	text-align: center;
}
h1 {
	color: darkblue;
	text-align: center;
	text-shadow: 3px 3px 5px #8A2BE2;
}
	
	